/* Set global styles */
body {
  background-color: #ffffff; /* Default light mode background color */
  color: #1d1d1d; /* Default light mode text color */
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif, Helvetica, sans-serif;
  font-display: swap; /* Ensure font-display swap */
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 transparent; /* Thumb color and track color for Firefox */
}

.nuxt-img-animation {
  position: relative;
  overflow: hidden;
  transition: transform 0.6s ease;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.dark body {
  background-color: #1d1d1d; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

h1, h2, h3 {
  font-family: "Big Shoulders", sans-serif, 'Times New Roman', Times, serif;;
}

span {
  font-family: "Big Shoulders", sans-serif, 'Times New Roman', Times, serif;;
}