@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Set global styles */
body {
  background-color: #ffffff; /* Default light mode background color */
  color: #1d1d1d; /* Default light mode text color */
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-display: swap; /* Ensure font-display swap */
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 transparent; /* Thumb color and track color for Firefox */
}

/* assets/css/global.css */
.nuxt-img-animation {
  position: relative;
  overflow: hidden;
  transition: transform 0.6s ease;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


/* Webkit browsers */
::-webkit-scrollbar {
  width: 16px; /* Width of the scrollbar */
  height: 16px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #8b5cf6; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 3px solid transparent; /* Border around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a3bb2; /* Darker shade on hover */
}

html {
  scroll-behavior: smooth;
}

/* Webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #8b5cf6; /* Scrollbar thumb color */
  border-radius: 20px; /* Rounded corners for the scrollbar thumb */
  border: 3px solid transparent; /* Border around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a3bb2; /* Darker shade on hover */
}

.dark body {
  background-color: #1d1d1d; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

/* Custom font styles */
.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: 400;
  font-family: "Bayon", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Bayon", sans-serif;

}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Bayon", sans-serif;
}
